<div *ngFor= 'let property of properties'>
    <p>{{averagePriceRoom}}</p>
    <p>{{totalPropertiesCount}}</p>
    <p>{{averagePrice}}</p>
    <p>{{mostExp}}</p>
    <p>{{cheap}}</p>

    <h1>{{property.title}}</h1>
    <p>{{property.price}}</p>
    <p>{{property.rooms}}</p>
    <p>{{property.totalArea}}</p>
    <p>{{property.livingArea}}</p>
    <p>{{property.city}}</p>
    <p>{{property.type}}</p>
    <p>{{property.floor}}</p>
    <p>{{property.floors}}</p>
    <p>{{property.lift}}</p>
    <p>{{property.window}}</p>
    <p>{{property.gaz}}</p>
</div>